{
    "presets": [
      ["env", {
        "targets": {
          "browsers": ["IE >= 9"]
        },
        "useBuiltIns": "usage"
      }]
    ],
    "plugins": [
        "array-includes",
        ["transform-runtime", {
          "helpers": true,
          "polyfill": true,
          "regenerator": true,
          "moduleName": "babel-runtime"
        }]
      ]
  }