{
  "presets": [
    ["@babel/preset-env", {
      "modules": "commonjs"
    }]
  ],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    ["@babel/plugin-proposal-decorators", {
      "legacy": true
    }],
    "array-includes",
    [
      "@babel/plugin-transform-runtime",
      {
        "absoluteRuntime": false,
        "corejs": false,
        "helpers": true,
        "regenerator": true,
        "useESModules": false,
        "version": "7.0.0-beta.0",
      }
    ]
  ]
}